<!DOCTYPE html> 
<html>

<title>Page Title</title>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <div>
    <h2>{{song_name}}</h2>
    <h2>
        {% for i in range(total_artists) %}
            {% if i == total_artists-1 %}
                {{ artist_names[i] }}
            {% else %}
                {{ artist_names[i] }} |
            {% endif %}
        {% endfor %}
    </h2>
    </div>
<img src={{album_image}} width="400px"></img>


<div>
{% if song_preview == None %}
    <h2>No Song Preview</h2>
{% else %}
    <audio controls>
        <source src={{song_preview}} type="audio/mpeg">
    </audio>
{% endif %}
</div>

<a href = {{spotify_link}}><h2>Play me on Spotify!</h2></a>
</body>

</html>